In [1]:
import pandas as pd
from datetime import datetime

In [3]:
data = pd.read_csv('/content/train.csv')

In [4]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

#Looking for missing values

In [5]:
missing_values = data.isnull().sum()

In [6]:
print("Missing values") #kind of statement

Missing values

In [7]:
print(missing_values) #prints all the missing values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [8]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

#Replacing with the Mean,mode,Median or drop them

In [9]:
data['Mileage'] = data['Mileage'].str.replace(r'\D', '', regex=True)

In [10]:
data['Mileage'] = pd.to_numeric(data['Mileage'], errors='coerce')

In [12]:
data['Mileage'].fillna(data['Mileage'].mean(), inplace=True)

In [13]:
data['Engine'] = data['Engine'].str.replace(r'\D', '', regex=True)

In [14]:
data['Engine'] = pd.to_numeric(data['Engine'], errors='coerce')

In [15]:
data['Engine'].fillna(data['Engine'].mean(), inplace=True)

In [16]:
data['Power'] = data['Power'].str.replace(r'\D', '', regex=True)

In [17]:
data['Power'] = pd.to_numeric(data['Power'], errors='coerce')

In [18]:
data['Power'].fillna(data['Power'].mean(), inplace=True)

In [19]:
data['Seats'].fillna(data['Seats'].mean(), inplace=True)

In [20]:
data.drop(columns=['New_Price'], inplace=True)

In [21]:
updated_missing_values = data.isnull().sum()

In [23]:
print("Updated missing values in individual coloum")

Updated missing values in individual coloum

In [24]:
print(updated_missing_values)

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64



Engine,power,seats,milage are considered as crucial factors of used car, Based on these factors ,It allows us to predict car performance,durability,condition and price.
Removing these columns will make your dataset less dimensional also helps to enhance interpretability of analysis New pricing *High Values Missed*The "New Price" data may not be accurate or up to date, even if you were to impute missing values. This could introduce errors or noise into our analysis

#b)Removing specific units may not be needed as we already did in the earlier step

In [25]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,1967.0,1582.0,1262.0,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,887.0,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,2077.0,1248.0,8876.0,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,152.0,1968.0,1408.0,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,2308.0,1461.0,631.0,5.0,3.50

#C) Change the categorical variables

In [26]:
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [27]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1

#d)Create one more feature and add this column to the dataset

In [42]:
data['Kilometers_Per_Year'] = data['Kilometers_Driven'] / (2024 - data['Year'])
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,Kilometers_Per_Year
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9,4555.555556
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13,3538.461538
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12,7250.000000
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11,3697.272727
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11,7909.000000

In [28]:
current_year = datetime.now().year

In [37]:
data['Car_Age'] = current_year - data['Year']

In [38]:
data.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price',
       'Fuel_Type_Electric', 'Fuel_Type_Petrol', 'Transmission_Manual',
       'Car_Age'],
      dtype='object')

In [30]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11

In [31]:
data.to_csv('cleandataset_train.csv', index = False)

In [39]:
data.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price',
       'Fuel_Type_Electric', 'Fuel_Type_Petrol', 'Transmission_Manual',
       'Car_Age'],
      dtype='object')

In [43]:
selected_col = data[[ 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price', 'Fuel_Type_Electric', 'Fuel_Type_Petrol', 'Transmission_Manual', 'Kilometers_Per_Year']]
selected_col

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Kilometers_Per_Year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,4555.555556
1,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,3538.461538
2,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,7250.000000
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,3697.272727
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,7909.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,284.0,1248.0,74.0,5.0,4.75,0,0,1,2736.500000
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,244.0,1120.0,71.0,5.0,4.00,0,0,1,11111.111111
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,140.0,2498.0,112.0,8.0,2.90,0,0,1,4583.333333
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,189.0,998.0,671.0,5.0,2.65,0,1,1,4181.818182
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,2544.0,936.0,576.0,5.0,2.50,0,0,1,3615.384615

In [52]:
filter = data[data['Year'] >= 2016]
filter

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,Kilometers_Per_Year
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,1136.0,2755.0,1715.0,8.0,17.50,0,0,0,8,4500.000000
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,2156.0,1462.0,10325.0,5.0,9.95,0,1,1,6,4282.000000
14,16,Honda Amaze S i-Dtech,Kochi,2016,58950,First,258.0,1498.0,986.0,5.0,5.40,0,0,1,8,7368.750000
15,17,Maruti Swift DDiS VDI,Jaipur,2017,25000,First,284.0,1248.0,74.0,5.0,5.99,0,0,1,7,3571.428571
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,First,175.0,1199.0,887.0,5.0,9.90,0,1,1,6,6238.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5812,5982,Tata Hexa XTA,Jaipur,2016,39000,First,176.0,2179.0,15386.0,7.0,13.50,0,0,0,8,4875.000000
5816,5987,Tata Tiago 1.2 Revotron XT,Kochi,2017,15386,First,2384.0,1199.0,84.0,5.0,5.11,0,1,1,7,2198.000000
5825,5996,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,First,1636.0,2179.0,1877.0,5.0,30.54,0,0,0,8,3893.750000
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,1757.0,1193.0,887.0,5.0,4.00,0,1,1,8,1250.000000
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,243.0,1248.0,885.0,5.0,7.43,0,0,1,8,4651.000000

In [50]:
rename = data.rename(columns={'Kilometers_Driven': 'KM_Driven', 'Price': 'Car_Price'})
rename

,Unnamed: 0,Name,Location,Year,KM_Driven,Owner_Type,Mileage,Engine,Power,Seats,Car_Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,Kilometers_Per_Year
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9,4555.555556
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13,3538.461538
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12,7250.000000
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11,3697.272727
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11,7909.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,284.0,1248.0,74.0,5.0,4.75,0,0,1,10,2736.500000
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,244.0,1120.0,71.0,5.0,4.00,0,0,1,9,11111.111111
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,140.0,2498.0,112.0,8.0,2.90,0,0,1,12,4583.333333
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,189.0,998.0,671.0,5.0,2.65,0,1,1,11,4181.818182
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,2544.0,936.0,576.0,5.0,2.50,0,0,1,13,3615.384615

In [54]:
data['Current_Age'] = 2024 - data['Year']
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,Kilometers_Per_Year,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9,4555.555556,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13,3538.461538,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12,7250.000000,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11,3697.272727,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11,7909.000000,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,284.0,1248.0,74.0,5.0,4.75,0,0,1,10,2736.500000,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,244.0,1120.0,71.0,5.0,4.00,0,0,1,9,11111.111111,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,140.0,2498.0,112.0,8.0,2.90,0,0,1,12,4583.333333,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,189.0,998.0,671.0,5.0,2.65,0,1,1,11,4181.818182,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,2544.0,936.0,576.0,5.0,2.50,0,0,1,13,3615.384615,13

In [56]:
arranging_data = data.sort_values(by='Year', ascending=True)
arranging_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,Kilometers_Per_Year,Current_Age
5558,5716,Maruti Zen LX,Jaipur,1998,95150,Third,173.0,993.0,60.0,5.0,0.53,0,1,1,26,3659.615385,26
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,Third,173.0,993.0,60.0,5.0,0.45,0,1,1,26,3659.615385,26
3630,3749,Mercedes-Benz E-Class 250 D W 210,Mumbai,1998,55300,First,100.0,1796.0,1577.0,5.0,3.90,0,0,0,26,2126.923077,26
1791,1845,Honda City 1.3 EXI,Pune,1999,140000,First,130.0,1343.0,90.0,5.0,0.90,0,1,1,25,5600.000000,25
1185,1224,Maruti Zen VX,Jaipur,1999,70000,Second,173.0,993.0,60.0,5.0,0.77,0,1,1,25,2800.000000,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956,5102,Maruti Wagon R VXI,Kochi,2019,31817,First,225.0,998.0,6704.0,5.0,5.34,0,1,1,5,6363.400000,5
5712,5875,Mercedes-Benz C-Class Progressive C 220d,Ahmedabad,2019,4000,First,0.0,1950.0,194.0,5.0,35.00,0,0,0,5,800.000000,5
1486,1534,Honda City i VTEC VX Option,Coimbatore,2019,23882,First,174.0,1497.0,1173.0,5.0,11.87,0,1,1,5,4776.400000,5
4319,4452,Toyota Innova Crysta 2.8 GX AT,Kochi,2019,14076,First,1136.0,2755.0,1715.0,7.0,19.40,0,0,0,5,2815.200000,5
2511,2595,Tata Tiago AMT 1.2 Revotron XZA,Coimbatore,2019,15379,First,2384.0,1199.0,8383.0,5.0,6.97,0,1,0,5,3075.800000,5

In [58]:
grouping_data = data.groupby('Location').agg({'Price': 'mean', 'Kilometers_Driven': 'sum'})
grouping_data

                Price  Kilometers_Driven
Location
Ahmedabad    8.567248           11984485
Bangalore   13.482670           20496207
Chennai      7.958340           43075555
Coimbatore  15.160206           29625311
Delhi        9.881944           30880339
Hyderabad    9.997423           50162673
Jaipur       5.916725           28658786
Kochi       11.309109           28619518
Kolkata      5.733924           22812326
Mumbai       9.592546           34035614
Pune         6.951000           41173243